name: Get Dyld Shared Cache

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read

env:
  # OS: iOS
  # DEVICE: iPhone14,5
  # VERSION: 15.6
  # BUILD: 19G71
  URL: https://updates.cdn-apple.com/2022SummerFCS/fullrestores/012-41728/C0769E31-5F11-4F6F-AF48-58175F955F51/iPhone14,5_15.6_19G71_Restore.ipsw
  OUTPUT: dsc

jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: install ipsw
        env:
          IPSW_VERSION: "3.1.643"
        run: |
          curl -L "https://github.com/blacktop/ipsw/releases/download/v${{ env.IPSW_VERSION }}/ipsw_${{ env.IPSW_VERSION }}_macOS_universal.tar.gz" -o ipsw.tgz
          tar -xzf ipsw.tgz -C /tmp

      - name: get firmware
        # run: /tmp/ipsw download appledb --os "${{ env.OS }}" --version "${{ env.VERSION }}" --device "${{ env.DEVICE }}" --build "${{ env.BUILD }}"
        run: curl -L ${{env.URL}} -o firmware.ipsw

      - name: extract
        run: /tmp/ipsw extract -d firmware.ipsw --output ${{ env.OUTPUT }}

      # - name: debug
      #   run: ls ${{ env.OUTPUT }}

      - uses: actions/upload-artifact@v4
        with:
          name: dyld_shared_cache
          path: ${{ env.OUTPUT }}
